<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To do List</title>
  <script defer src="/scriptTask.js"></script>
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/modals.css">
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/media.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="#" class="nav-link">
          <span class="link-text logo-text">Projeto X</span>

        </a>
      </li>
      <li class="nav-item">
        <a href="/perfil" class="nav-link">
          <i class="fa-regular fa-user"></i>
          <span class="link-text">perfil</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa-solid fa-location-dot"></i>
          <span class="link-text">Consultar</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa-solid fa-person-running"></i>
          <span class="link-text">Exercícios</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/app/task" class="nav-link">
          <i class="fa-regular fa-file"></i>
          <span class="link-text">Tarefas</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/app/calculadora" class="nav-link">
          <i class="fa-solid fa-calculator"></i>
          <span class="link-text">Calculadora IMC</span>
        </a>
      </li>

      <li class="nav-item" id="themeButton">
        <a href="#" class="nav-link">
          <i class="fa-solid fa-circle-half-stroke"></i>
          <span class="link-text">Temas</span>
        </a>
      </li>
    </ul>
  </nav>

  <main id="container">
    <h1>Suas tarefas</h1>

    <div id="selection">
      <form action="/app/search" method="get">
        <div class="input-box">
          <div class="input-field">
            <i class="fa-solid fa-calendar-days open-modal-button"></i> <!-- Movido o ícone de calendário aqui -->
            <input type="text" id="search" step="0.01" name="search" autocomplete="off" plarequired
              placeholder="Digite uma tarefa aqui">
            <span></span>
            <button id="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
      </form>

      <div id="fade" class="hide"></div>
      <div id="modal" class="hide">
        <div class="modal-header">
          <h2 style="color: #49DBC1">Calendário</h2>
          <i class="fa-solid fa-circle-xmark"></i>
        </div>
        <div class="modal-body">
          <div class="calendario">
            <header>
              <h3 id="header"></h3>
              <nav>
                <button id="anterior"></button>
                <button id="proximo"></button>
              </nav>
            </header>

            <section>
              <ul class="dias">
                <li>Dom</li>
                <li>Seg</li>
                <li>Ter</li>
                <li>Quar</li>
                <li>Quin</li>
                <li>Sex</li>
                <li>Sab</li>
              </ul>
              <ul class="datas"></ul>
            </section>
          </div>

          <form id="searchForm" action="/search" method="POST">
            <button type="submit" id="btn-pesquisar">Pesquisar</button>
          </form>
        </div>
      </div>
    </div>
    </div>

    <div id="buttons">

      <!-- <a href="/app/search?categoria=Lazer" class="category-link"> -->
      <div class="button">
        <i class="fa-solid fa-gamepad"></i>
        <label for="button-label">Lazer</label>
      </div>
      <!-- </a> -->


      <!-- <a href="/app/search?categoria=Trabalho" class="category-link"> -->
      <div class="button">
        <i class="fa-solid fa-list-check"></i>
        <label for="button-label">Trabalho</label>
      </div>
      <!-- </a> -->


      <!-- <a href="/app/search?categoria=Dieta" class="category-link"> -->
      <div class="button">
        <i class="fa-solid fa-apple-whole"></i>
        <label for="button-label">Dieta</label>
      </div>
      <!-- </a> -->

      <!-- <a href="/app/search?categoria=Exercícios" class="category-link"> -->
      <div class="button">
        <i class="fa-solid fa-dumbbell"></i>
        <label for="button-label">Exercícios</label>
      </div>
      <!-- </a> -->
    </div>

    <div id="task-space">
      <ul id="Lista">
        <% TaskList.forEach((task)=> { %>
          <li class="check-<%= task.check %>">
            <a href="/check/<%= task._id %>" class="check-<%= task.check %>">
              <span>
                <%= task.task %> -
                  <%= task.time%>
                    <!-- <%= new Date(task.date).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' })%>  -->
              </span>
            </a>
            <a class="fas fa-edit edit-icon" id="UpdateTask" href="/app/getByID/<%= task._id%>/update"></a>
            <a class="fas fa-trash-alt delete-icon" href="/app/deleteTask/<%= task._id %>"></a>
          </li>
          <% })%>
      </ul>
      <a class="fa-solid fa-circle-plus" id="openNewModalButton" href="/app/task/create"></a>


      <% if( taskCreate !==null) { %>
        <div id="new-fade">
        </div>
        <!-- Form de criação de Task -->
        <form action="/app/task/create" method="post">
          <!-- Criação da task -->
          <div id="new-modal">

            <div class="modal-header">
              <h2 style="color: #49DBC1">Adicionar nova tarefa</h2>
              <a class="fa-solid fa-circle-xmark" href="/app/task"></a><!-- button de sair do modal-->
            </div>

            <div class="modal-body">
              <!-- Conteúdo do novo modal aqui -->
              <div class="new-task">
                <h3>Adicionar nova tarefa</h3>
                <input type="text" id="task" step="0.01" name="task"><!-- input de conteúdo da task -->
              </div>

              <div class="task-category">
                <h3>Selecione a categoria</h3>
                <select name="categoria" id="categoria">
                  <option>Selecione uma opção</option>
                  <option value="Trabalho">Trabalho</option>
                  <option value="Lazer">Lazer</option>
                  <option value="Exerciícios">Exercícios</option>
                  <option value="Dieta">Dieta</option>
                </select>
              </div>

              <div class="task-date">
                <h3>Data da tarefa</h3>
                <input type="date" id="Date" name="DateTask" required>
                <input type="time" name="horas" id="horas">
              </div>

              <div class="task-notifications">
                <h5>Ativar notificações?</h5>
                <input type="checkbox" id="checkbox" name="checkbox">
                <i class="fa-solid fa-bell"></i>
              </div>

              <div class="task-notes">
                <h5>Anotaçoes extras</h5>
                <textarea id="notes" name="notes" rows="4" cols="50" style="width: 269px; height: 95px;"></textarea>
              </div>

              <div class="modal-buttons">
                <input class="button-submit" type="submit" value="Enviar" />
                <!-- <input type="reset" value="Cancelar" /> -->
              </div>

            </div>
          </div>

        </form>





        <% } else if( taskUpdate !==null){ %>
          <div id="new-fade"></div>
          <!-- Form de criação de Task -->
          <form action="/app/updateTask/<%= taskUpdate._id %>" method="post">
            <!-- Criação da task -->
            <div id="new-modal">
              <div class="modal-header">
                <h2 style="color: #49DBC1">Adicionar nova tarefa</h2>
                <a class="fa-solid fa-circle-xmark" href="/app/task"></a><!-- button de sair do modal-->
              </div>

              <div class="modal-body">
                <!-- Conteúdo do novo modal aqui -->
                <div class="new-task">
                  <h3>Adicionar nova tarefa</h3>
                  <input type="text" id="task" step="0.01" name="task"
                    value="<%= taskUpdate.task %>"><!-- input de conteúdo da task -->
                </div>

                <div class="task-category">
                  <h3>Selecione a categoria</h3>
                  <select name="categoria" id="categoria">
                    <option>Selecione uma opção</option>
                    <option value="Trabalho" <% if (taskUpdate.categoria==='Trabalho' ) { %>selected<% } %>>Trabalho
                    </option>
                    <option value="Lazer" <% if (taskUpdate.categoria==='Lazer' ) { %>selected<% } %>>Lazer</option>
                    <option value="Exercícios" <% if (taskUpdate.categoria==='Exercícios' ) { %>selected<% } %>
                        >Exercícios
                    </option>
                    <option value="Dieta" <% if (taskUpdate.categoria==='Dieta' ) { %>selected<% } %>>Dieta</option>
                  </select>
                </div>

                <div class="task-date">
                  <h3>Data da tarefa</h3>
                  <input type="date" id="Date" name="DateTask"
                    value="<%= taskUpdate.date.toISOString().split('T')[0] %>" required>
                  <!-- Converter a string de hora no formato HH:mm para o formato do campo time -->
                  <% const timeArray=taskUpdate.time.split(':'); %>
                    <% const formattedTime=timeArray[0] + ':' + timeArray[1]; %>

                      <!-- Use a string de hora formatada no campo de entrada time -->
                      <input type="time" name="horas" id="horas" value="<%= formattedTime %>">
                </div>

                <div class="task-notifications">
                  <h5>Ativar notificações?</h5>
                  <input type="checkbox" id="checkbox" name="checkbox" <% if (taskUpdate.notifications) { %>checked<% }
                    %>>
                    <i class="fa-solid fa-bell"></i>
                </div>

                <div class="task-notes">
                  <h5>Anotações extras</h5>
                  <textarea id="notes" name="notes" rows="4" cols="50"><%= taskUpdate.notes %></textarea>
                </div>

                <div class="modal-buttons">
                  <input type="submit" value="Enviar" />
                  <!-- <input type="reset" value="Cancelar" /> -->
                </div>
              </div>
            </div>
          </form>
          <% }%>
    </div>
  </main>

  <script src="/scriptTask.js"></script>
</body>

</html>